<br/><br/><br/>
<div class="text-center">
  <%= image_tag "logo.png" %>
  <br/><br/>
  <h1>What is IFTTT ?</h1>
  <h3>IFTTT is a service that lets you create powerful connections with one simple statement:</h3>
  <br/>
  <%= image_tag "ifttt.png" %>
  <br/><br/>
  <h3>Interested? Sign in to try out.</h3>
  <br/><br/>
  <%= link_to "/auth/instagram" do %>
  <button class="btn btn-lg btn-instagram <%= connect_button_class "instagram" %>">
    <i class="fa fa-instagram"></i> | <%= current_user ? "Connect" : "Signin" %> with Instagram
  </button>
  <% end %>
  <%= link_to "/auth/twitter" do %>
  <button class="btn btn-lg btn-twitter <%= connect_button_class "twitter" %>">
    <i class="fa fa-twitter"></i> | <%= current_user ? "Connect" : "Signin" %> with Twitter
  </button>
  <% end %>
  <%= link_to "/auth/google_oauth2" do %>
  <button class="btn btn-lg btn-google-plus <%= connect_button_class "google_oauth2" %>">
    <i class="fa fa-google-plus"></i> | <%= current_user ? "Connect" : "Signin" %> with Google
  </button>
  <% end %>
  <%= link_to "/auth/dropbox_oauth2" do %>
  <button class="btn btn-lg btn-dropbox <%= connect_button_class "dropbox_oauth2" %>">
    <i class="fa fa-dropbox"></i> | <%= current_user ? "Connect" : "Signin" %> with Dropbox
  </button>
  <% end %>
</div>
<br/><br/><br/>