<%= render "connections" %>
<br/><br/><br/>
<div class="text-center">
  <%= image_tag "logo.png" %>
  <br/><br/><br/>
  <%= link_to "/auth/instagram" do %>
  <button class="btn btn-lg btn-instagram <%= connect_button_class "instagram" %>">
    <i class="fa fa-instagram"></i> | <%= current_user ? "Connect" : "Signin" %> with Instagram
  </button>
  <% end %>
  <%= link_to "/auth/twitter" do %>
  <button class="btn btn-lg btn-twitter <%= connect_button_class "twitter" %>">
    <i class="fa fa-twitter"></i> | <%= current_user ? "Connect" : "Signin" %> with Twitter
  </button>
  <% end %>
  <%= link_to "/auth/google_oauth2" do %>
  <button class="btn btn-lg btn-google-plus <%= connect_button_class "google_oauth2" %>">
    <i class="fa fa-google-plus"></i> | <%= current_user ? "Connect" : "Signin" %> with Google
  </button>
  <% end %>
  <br/><br/>
</div>
<%= render "m_recipes" %>
<%= render "recipes" %>
<br/><br/><br/>